#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

nav,
footer,
main,
.list-group {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

main {
    margin-top: 3em;
    margin-bottom: 3em;
    min-height: 60vh;
}
